@charset "utf-8";
/* CSS Document*/

@font-face {
    font-family: truculenta;
    src: url(Truculenta-VariableFont_opsz\,wdth\,wght.ttf) format(truetype);
    font-wight: normal;
    font-style: normal;
}

* {
    font-family: "Raleway", sans-serif;
    margin: 0%;
    padding: 0%;
}



body {
    background-image: url("imagenes/fondo-body.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
}

.cv-flex {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 30px;
}

.imagencv {
    width: 110px;
    height: 140px;
    padding: 10px;
}

.cv-flex p {
    flex: 1;
}


.sobremi {
    padding: 30px 0px;
}

.links {
    margin-left: 15px;
    text-decoration: none;
}






h1 {
    font-family: 'truculenta', monospace;
    font-size: 3.2rem;
    background-color: rgb(250, 235, 215);
    text-align: center;
    border-top-width: 5px;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-color: rgb(104, 81, 0);
    border-style: solid;
}

h2 {
    font-size: 2rem;
    font-family: 'truculenta', monospace;
    background-color: rgb(250, 235, 215);
    text-align: center;
}

h5 {
    font-size: 1.3rem;
    font-family: 'truculenta', monospace;
    background-color: rgb(247, 224, 195);
    text-align: center;
    border-bottom-width: 5px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-color: rgb(104, 81, 0);
    border-style: solid;

}



h3 {
    font-family: 'truculenta', monospace;
    color: rgb(56, 44, 0);
    font-size: 1.3rem;
    padding: 0px 20px;
}



.contenido {
    display: flex;
    justify-content: center;
    padding: 5px 20px 5px 0px;
    line-height: 1.8;
}


a {
    text-decoration: overline;
}


p {
    text-wrap-style: balance;
    padding: 30px 20px;
    width: 100%;
    line-height: 1.5;
}

ul {
    text-wrap-style: balance;
}

h4 {
    color: rgb(104, 81, 0);
}



footer {
    background-color: rgb(250, 235, 215);
    text-align: center;
    color: rgb(122, 121, 121);
    border-radius: 10px;
    width: 97%;
    height: 90%;
    max-height: 50vh;
    padding: 15px;
}